# Widereceiver EDA

In [1]:
import pandas as pd

In [2]:
wrs = pd.read_csv('../Capstone_Scrapping/Capstone_text_files/wide_receiver.txt')

In [3]:
wrs

,NAME,RTG,TEAM,GP,TGT,REC,TGT/G,YDS,100+ YDS,YDS/REC,TD,LONG,FUM,FUML
0,Marvin Hall,65.0,DET,9,11,7,1.2,261,0,37.3,1,58,0,0
1,Ventell Bryant,75.0,DAL,12,1,1,0.1,15,0,15.0,1,15,0,0
2,Rashard Davis,69.0,TEN,1,1,1,1.0,16,0,16.0,0,16,0,0
3,Krishawn Hogan,69.0,NO,7,1,1,0.1,4,0,4.0,0,4,0,0
4,Vyncint Smith,65.0,NYJ,13,31,17,2.4,225,0,13.2,0,37,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236,Geremy Davis,63.0,LAC,7,3,3,0.4,38,0,12.7,0,19,0,0
237,Alex Erickson,63.0,CIN,16,78,43,4.9,529,1,12.3,0,52,4,2
238,Johnny Holton,62.0,PIT,15,15,3,1.0,21,0,7.0,0,18,0,0
239,Darius Jennings,60.0,TEN,8,6,2,0.8,17,0,8.5,0,11,0,0
240,Marcus Johnson,60.0,IND,8,33,17,4.1,277,1,16.3,2,50,0,0

In [4]:
wrs.dtypes

      NAME     object
RTG           float64
TEAM           object
GP              int64
TGT             int64
REC             int64
TGT/G         float64
YDS            object
100+ YDS        int64
YDS/REC       float64
TD              int64
LONG            int64
FUM             int64
FUML            int64
dtype: object

In [5]:
wrs['YDS'] = wrs['YDS'].str.replace(',', '').astype('int64')

In [6]:
wrs.rename(columns=lambda x: x.strip(), inplace = True)

In [7]:
wrs = wrs[wrs['TGT'] > 16].copy()

In [8]:
wrs.columns

Index(['NAME', 'RTG', 'TEAM', 'GP', 'TGT', 'REC', 'TGT/G', 'YDS', '100+ YDS',
       'YDS/REC', 'TD', 'LONG', 'FUM', 'FUML'],
      dtype='object')

In [9]:
wrs

,NAME,RTG,TEAM,GP,TGT,REC,TGT/G,YDS,100+ YDS,YDS/REC,TD,LONG,FUM,FUML
4,Vyncint Smith,65.0,NYJ,13,31,17,2.4,225,0,13.2,0,37,1,1
7,Golden Tate,86.0,NYG,11,85,49,7.7,676,1,13.8,6,64,1,1
10,Malik Turner,67.0,SEA,14,22,15,1.6,245,0,16.3,1,33,0,0
12,Allen Lazard,65.0,GB,12,52,35,4.3,477,1,13.6,3,43,0,0
16,Auden Tate,65.0,CIN,12,81,40,6.8,575,0,14.4,1,33,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,Pharoh Cooper,66.0,ARI,13,33,25,2.5,243,0,9.7,1,28,0,0
226,Deon Cain,65.0,PIT,13,20,9,1.5,124,0,13.8,0,35,0,0
228,Damion Ratley,65.0,CLE,13,24,12,1.8,200,0,16.7,1,46,0,0
237,Alex Erickson,63.0,CIN,16,78,43,4.9,529,1,12.3,0,52,4,2
240,Marcus Johnson,60.0,IND,8,33,17,4.1,277,1,16.3,2,50,0,0

In [10]:
wrs = wrs.groupby('NAME', sort = False).mean()

In [11]:
wrs.drop(columns = ['RTG', 'GP'], axis = 1, inplace = True)

In [12]:
wrs_stats = wrs.copy()

In [13]:
wrs_rank = {}

In [14]:
wrs_rank['YDS_rank'] = wrs['YDS'].rank(ascending = False)

In [15]:
wrs_rank['TGT_rank'] = wrs['TGT'].rank(ascending = False)

In [16]:
wrs_rank['REC_rank'] = wrs['REC'].rank(ascending = False)

In [17]:
wrs_rank['TGT/G_rank'] = wrs['TGT/G'].rank(ascending = False)

In [18]:
wrs_rank['100+ YDS_rank'] = wrs['100+ YDS'].rank(ascending = False)

In [19]:
wrs_rank['YDS/REC_rank'] = wrs['YDS/REC'].rank(ascending = False)

In [20]:
wrs_rank['TD_rank'] = wrs['TD'].rank(ascending = False)

In [21]:
wrs_rank['LONG_rank'] = wrs['LONG'].rank(ascending = False)

In [22]:
wrs_rank['FUM_rank'] = wrs['FUM'].rank()

In [23]:
wrs_rank['FUML_rank'] = wrs['FUML'].rank()

In [24]:
wrs_rank['overall'] = (wrs_rank['TGT_rank'] + wrs_rank['REC_rank'] + wrs_rank['TGT/G_rank'] + wrs_rank['100+ YDS_rank'] +
            wrs_rank['YDS/REC_rank'] + wrs_rank['TD_rank'] + wrs_rank['LONG_rank'] +
            wrs_rank['FUM_rank'] + wrs_rank['FUML_rank'] + wrs_rank['YDS_rank'])/10

In [25]:
wrs_rank = pd.DataFrame(wrs_rank)

In [26]:
wrs_final_rank = {}

In [27]:
wrs_final_rank['final_rank'] = wrs_rank['overall'].rank()

In [28]:
wrs_final_rank = pd.DataFrame(wrs_final_rank)

In [29]:
wrs_final_rank = wrs_final_rank.sort_values('final_rank')

In [30]:
wrs_final_rank.to_csv('../Capstone_csv_file/wrs_final_rank_19-20')

In [31]:
wrs = wrs_stats.merge(wrs_rank, on = 'NAME')

In [32]:
wrs.to_csv('../Capstone_csv_file/wrs_stats_rank_19-20')

In [33]:
wrs

,TGT,REC,TGT/G,YDS,100+ YDS,YDS/REC,TD,LONG,FUM,FUML,...,TGT_rank,REC_rank,TGT/G_rank,100+ YDS_rank,YDS/REC_rank,TD_rank,LONG_rank,FUM_rank,FUML_rank,overall
NAME,,,,,,,,,,,,,,,,,,,,,
Vyncint Smith,31,17,2.4,225,0,13.2,0,37,1,1,...,112.0,114.0,115.0,102.5,65.5,128.0,92.0,102.0,116.5,105.55
Golden Tate,85,49,7.7,676,1,13.8,6,64,1,1,...,45.0,49.0,22.5,57.0,52.0,26.5,25.0,102.0,116.5,54.05
Malik Turner,22,15,1.6,245,0,16.3,1,33,0,0,...,127.5,119.5,128.0,102.5,20.5,106.5,104.0,44.0,51.0,90.60
Allen Lazard,52,35,4.3,477,1,13.6,3,43,0,0,...,79.5,71.0,77.5,57.0,60.0,65.0,79.5,44.0,51.0,65.25
Auden Tate,81,40,6.8,575,0,14.4,1,33,1,1,...,50.5,65.0,36.5,102.5,39.0,106.5,104.0,102.0,116.5,77.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Pharoh Cooper,33,25,2.5,243,0,9.7,1,28,0,0,...,108.5,98.5,113.0,102.5,117.0,106.5,117.0,44.0,51.0,96.30
Deon Cain,20,9,1.5,124,0,13.8,0,35,0,0,...,132.5,135.0,130.5,102.5,52.0,128.0,98.5,44.0,51.0,100.50
Damion Ratley,24,12,1.8,200,0,16.7,1,46,0,0,...,122.5,125.5,125.0,102.5,16.5,106.5,66.0,44.0,51.0,87.30
Alex Erickson,78,43,4.9,529,1,12.3,0,52,4,2,...,53.0,57.5,65.5,57.0,81.0,128.0,46.5,135.5,133.5,82.05
Marcus Johnson,33,17,4.1,277,1,16.3,2,50,0,0,...,108.5,114.0,83.0,57.0,20.5,84.0,52.0,44.0,51.0,71.20