# Widereceivers Fum Rank

In [1]:
import pandas as pd

In [2]:
wrs = pd.read_csv('../Capstone_csv_file/wrs_stats_rank_17-18', index_col = 'NAME')

In [3]:
wrs.head()

,TGT,REC,TGT/G,YDS,100+ YDS,YDS/REC,TD,LONG,FUM,FUML,...,TGT_rank,REC_rank,TGT/G_rank,100+ YDS_rank,YDS/REC_rank,TD_rank,LONG_rank,FUM_rank,FUML_rank,overall
NAME,,,,,,,,,,,,,,,,,,,,,
Antonio Brown,162,101,11.6,1533,8,204.7,9,57,4,0,...,2.0,5.0,1.5,1.0,34.0,4.5,41.0,135.5,54.0,278.6
Julio Jones,148,88,9.2,1444,4,260.2,3,53,0,0,...,7.0,9.0,8.0,6.0,5.0,57.0,54.5,40.5,54.0,241.2
Odell Beckham Jr,41,25,10.2,302,0,50.1,3,48,0,0,...,96.0,89.0,3.0,99.5,134.0,57.0,67.5,40.5,54.0,649.9
Larry Fitzgerald,161,109,10.1,1156,4,160.9,6,37,1,1,...,3.5,2.0,4.5,6.0,57.0,23.0,97.0,98.5,118.5,410.8
AJ Green,144,75,9.0,1078,3,217.1,8,77,2,2,...,8.0,12.0,10.0,12.0,24.0,10.0,7.5,122.0,133.5,340.1

In [4]:
wrs = wrs[['YDS', 'YDS_rank']]

In [5]:
wrs = wrs.sort_values('YDS_rank')

In [6]:
wrs.head()

                  YDS  YDS_rank
NAME
Antonio Brown    1533       1.0
Julio Jones      1444       2.0
Keenan Allen     1393       3.0
DeAndre Hopkins  1378       4.0
Adam Thielen     1276       5.0

In [7]:
wrs.to_csv('../Capstone_csv_file/wrs_yds_rank_17-18')