# Runningbacks Fum Rank

In [1]:
import pandas as pd

In [2]:
rbs = pd.read_csv('../Capstone_csv_file/rbs_stats_rank_17-18', index_col = 'NAME')

In [3]:
rbs.head()

,ATT,YDS/ATT,ATT/G,100+ YDS,TD,LONG,FUM,FUML,ATT_rank,YDS/ATT_rank,ATT/G_rank,100+ YDS_rank,TD_rank,LONG_rank,FUM_rank,FUML_rank
NAME,,,,,,,,,,,,,,,,
Le'Veon Bell,321,59.5,21.4,4,9,27,3,2,1.0,31.5,2.0,7.0,4.0,60.0,87.5,87.5
Ezekiel Elliott,242,38.2,24.2,5,7,30,1,1,10.0,64.0,1.0,4.0,12.0,55.5,51.0,64.0
Todd Gurley,279,70.5,18.6,6,13,57,5,2,4.0,11.0,4.0,1.5,1.0,23.0,97.0,87.5
Kareem Hunt,272,106.0,17.0,6,8,69,1,1,6.0,1.0,9.0,1.5,8.0,12.0,51.0,64.0
LeSean McCoy,287,61.9,17.9,4,6,48,3,1,2.0,22.0,6.0,7.0,16.0,29.5,87.5,64.0

In [4]:
rbs = rbs[['FUM', 'FUM_rank']].copy()

In [5]:
rbs = rbs.sort_values('FUM_rank')

In [6]:
rbs

                 FUM  FUM_rank
NAME
Eddie Lacy         0      17.5
Giovani Bernard    0      17.5
Dion Lewis         0      17.5
Elijhaa Penny      0      17.5
Chris Johnson      0      17.5
...              ...       ...
Alex Collins       4      95.0
Devonta Freeman    4      95.0
Duke Johnson       4      95.0
Todd Gurley        5      97.0
Jalen Richard      8      98.0

[98 rows x 2 columns]

In [7]:
rbs.to_csv('../Capstone_csv_file/rbs_fum_rank_17-18')