# Runningbacks Yds/Att Rank

In [1]:
import pandas as pd

In [2]:
rbs = pd.read_csv('../Capstone_csv_file/rbs_stats_rank_18-19', index_col = 'NAME')

In [3]:
rbs.head()

,ATT,YDS/ATT,ATT/G,100+ YDS,TD,LONG,FUM,FUML,ATT_rank,YDS/ATT_rank,ATT/G_rank,100+ YDS_rank,TD_rank,LONG_rank,FUM_rank,FUML_rank
NAME,,,,,,,,,,,,,,,,
Jeffery Wilson,66,4.0,11.0,0,0,18,3,2,59.0,63.0,35.5,70.0,88.5,78.0,87.5,87.5
Kenjon Barner,19,3.7,2.1,0,0,11,1,0,95.5,72.5,93.5,70.0,88.5,92.5,49.5,23.5
Mark Ingram,138,4.7,11.5,2,6,38,3,1,32.0,34.0,28.0,20.5,21.0,34.5,87.5,64.0
Gus Edwards,137,5.2,12.5,3,2,43,0,0,33.0,14.0,22.0,14.0,57.5,28.0,16.0,23.5
Dwayne Washington,27,5.7,4.5,1,0,28,0,0,89.5,4.0,70.0,34.0,88.5,55.0,16.0,23.5

In [4]:
rbs = rbs[['YDS/ATT', 'YDS/ATT_rank']].copy()

In [5]:
rbs = rbs.sort_values('YDS/ATT_rank')

In [6]:
rbs

                   YDS/ATT  YDS/ATT_rank
NAME
Brian Hill             7.8           1.0
Raheem Mostert         7.7           2.0
CJ Anderson            6.0           3.0
Dwayne Washington      5.7           4.0
Jordan Wilkins         5.6           5.0
...                    ...           ...
Stevan Ridley          2.8          92.0
Javorius Allen         2.7          94.0
John Kelly             2.7          94.0
LeGarrette Blount      2.7          94.0
Ronald Jones II        1.9          96.0

[96 rows x 2 columns]

In [7]:
rbs.to_csv('../Capstone_csv_file/rbs_yds_att_rank_18-19')