# Tightends EDA

In [22]:
import pandas as pd

In [23]:
tes = pd.read_csv('../Capstone_Scrapping/Capstone_text_files/tight_end_17-18.txt')

In [24]:
tes

,NAME,RTG,TEAM,GP,TGT,REC,TGT/G,YDS,100+ YDS,YDS/REC,TD,LONG,FUM,FUML
0,Rob Gronkowski,99,NE,14,105,69,7.5,"1,084",3,204.7,8,53,1,0
1,Greg Olsen,88,CAR,7,38,17,5.4,191,1,60.9,1,30,0,0
2,Travis Kelce,94,KC,15,122,83,8.1,"1,038",4,177.0,8,44,0,0
3,Jimmy Graham,82,SEA,16,95,57,5.9,520,0,123.8,10,33,0,0
4,Tyler Eifert,89,CIN,2,5,4,2.5,46,0,18.0,0,22,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,Ross Travis,60,IND,15,17,7,1.1,76,0,46.5,0,20,1,0
125,Hakeem Valles,60,DET,1,0,0,0.0,0,0,0.0,0,0,0,0
126,Ricky Seals-Jones,74,ARI,9,28,12,3.1,201,0,83.5,3,29,0,0
127,Sean Culkin,60,LAC,1,0,0,0.0,0,0,0.0,0,0,0,0
128,Jacob Hollister,69,NE,15,11,4,0.7,42,0,42.0,0,19,0,0

In [25]:
tes['YDS'] = tes['YDS'].str.replace(',', '').astype('int64')

In [26]:
tes.rename(columns=lambda x: x.strip(), inplace = True)

In [27]:
tes = tes[tes['TGT'] > 16].copy()

In [28]:
tes

,NAME,RTG,TEAM,GP,TGT,REC,TGT/G,YDS,100+ YDS,YDS/REC,TD,LONG,FUM,FUML
0,Rob Gronkowski,99,NE,14,105,69,7.5,1084,3,204.7,8,53,1,0
1,Greg Olsen,88,CAR,7,38,17,5.4,191,1,60.9,1,30,0,0
2,Travis Kelce,94,KC,15,122,83,8.1,1038,4,177.0,8,44,0,0
3,Jimmy Graham,82,SEA,16,95,57,5.9,520,0,123.8,10,33,0,0
5,Delanie Walker,91,TEN,16,111,74,6.9,807,0,173.9,3,42,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,James O'Shaughnessy,77,JAX,16,24,14,1.5,149,0,112.3,1,29,0,0
108,Daniel Brown,64,CHI,14,20,13,1.4,129,0,70.2,0,17,0,0
110,Stephen Anderson,64,HOU,15,52,25,3.5,342,0,161.8,1,42,0,0
124,Ross Travis,60,IND,15,17,7,1.1,76,0,46.5,0,20,1,0
126,Ricky Seals-Jones,74,ARI,9,28,12,3.1,201,0,83.5,3,29,0,0

In [29]:
tes = tes.groupby('NAME', sort = False).mean()

In [30]:
tes.drop(columns = ['RTG', 'GP'], axis = 1, inplace = True)

In [31]:
tes_stats = tes.copy()

In [32]:
tes_rank = {}

In [33]:
tes_rank['YDS_rank'] = tes['YDS'].rank(ascending = False)

In [34]:
tes_rank['TGT_rank'] = tes['TGT'].rank(ascending = False)

In [35]:
tes_rank['REC_rank'] = tes['REC'].rank(ascending = False)

In [36]:
tes_rank['TGT/G_rank'] = tes['TGT/G'].rank(ascending = False)

In [37]:
tes_rank['100+ YDS_rank'] = tes['100+ YDS'].rank(ascending = False)

In [38]:
tes_rank['YDS/REC_rank'] = tes['YDS/REC'].rank(ascending = False)

In [39]:
tes_rank['TD_rank'] = tes['TD'].rank(ascending = False)

In [40]:
tes_rank['LONG_rank'] = tes['LONG'].rank(ascending = False)

In [41]:
tes_rank['FUM_rank'] = tes['FUM'].rank()

In [42]:
tes_rank['FUML_rank'] = tes['FUML'].rank()

In [43]:
tes_rank['overall'] = (tes_rank['TGT_rank'] + tes_rank['REC_rank'] + tes_rank['TGT/G_rank'] + tes_rank['100+ YDS_rank'] +
            tes_rank['YDS/REC_rank'] + tes_rank['TD_rank'] + tes_rank['LONG_rank'] +
            tes_rank['FUM_rank'] + tes_rank['FUML_rank'] + tes_rank['YDS_rank'])/10

In [44]:
tes_rank = pd.DataFrame(tes_rank)

In [45]:
tes_final_rank = {}

In [46]:
tes_final_rank['final_rank'] = tes_rank['overall'].rank()

In [47]:
tes_final_rank = pd.DataFrame(tes_final_rank)

In [48]:
tes_final_rank = tes_final_rank.sort_values('final_rank')

In [49]:
tes_final_rank.to_csv('../Capstone_csv_file/tes_final_rank_17-18')

In [50]:
tes_final_rank

                final_rank
NAME
Travis Kelce           1.0
Rob Gronkowski         2.0
Evan Engram            3.0
Austin Hooper          4.0
Zach Ertz              5.0
...                    ...
Dwayne Allen          62.0
Daniel Brown          63.0
Josh Hill             64.0
Maxx Williams         65.0
Ross Travis           66.0

[66 rows x 1 columns]

In [51]:
tes = tes_stats.merge(tes_rank, on = 'NAME')

In [52]:
tes.to_csv('../Capstone_csv_file/tes_stats_rank_17-18')