# Tightends EDA

In [1]:
import pandas as pd

In [2]:
tes = pd.read_csv('../Capstone_Scrapping/Capstone_text_files/tight_end.txt')

In [3]:
tes

,NAME,RTG,TEAM,GP,TGT,REC,TGT/G,YDS,100+ YDS,YDS/REC,TD,LONG,FUM,FUML
0,Tanner Hudson,69,TB,9,5,2,0.6,26,0,13.0,0,14,0,0
1,Jason Vander Laan,66,NO,2,1,0,0.5,0,0,0.0,0,0,0,0
2,Garrett Dickerson,68,NYG,3,0,0,0.0,0,0,0.0,0,0,0,0
3,Ross Travis,60,NYJ,3,6,4,2.0,51,0,12.8,0,25,1,1
4,Eric Saubert,69,CHI,2,3,2,1.5,21,0,10.5,0,11,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129,Blake Bell,63,KC,15,15,8,1.0,67,0,8.4,0,30,0,0
130,Logan Thomas,62,DET,16,28,16,1.8,173,0,10.8,1,17,0,0
131,Ben Braunecker,61,CHI,11,11,6,1.0,59,0,9.8,1,18,0,0
132,Sean Culkin,60,LAC,4,2,1,0.5,12,0,12.0,0,12,0,0
133,Antony Auclair,60,TB,8,3,1,0.4,11,0,11.0,0,11,0,0

In [4]:
tes['YDS'] = tes['YDS'].str.replace(',', '').astype('int64')

In [5]:
tes.rename(columns=lambda x: x.strip(), inplace = True)

In [6]:
tes = tes[tes['TGT'] > 16].copy()

In [7]:
tes

,NAME,RTG,TEAM,GP,TGT,REC,TGT/G,YDS,100+ YDS,YDS/REC,TD,LONG,FUM,FUML
7,Jacob Hollister,69,SEA,11,59,41,5.4,349,0,8.5,3,22,0,0
15,Benjamin Watson,83,NE,10,24,17,2.4,173,0,10.2,0,26,0,0
31,Travis Kelce,94,KC,16,136,97,8.5,1229,2,12.7,5,47,1,1
32,Delanie Walker,91,TEN,7,31,21,4.4,215,0,10.2,2,29,1,0
33,George Kittle,91,SF,14,107,85,7.6,1053,3,12.4,5,61,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,Anthony Firkser,68,TEN,15,24,14,1.6,204,0,14.6,1,39,0,0
117,Darren Waller,67,OAK,16,117,90,7.3,1146,5,12.7,3,75,1,1
118,Matt LaCosse,67,NE,11,19,13,1.7,131,0,10.1,1,24,0,0
125,Ross Dwelley,66,SF,16,22,15,1.4,91,0,6.1,2,25,0,0
130,Logan Thomas,62,DET,16,28,16,1.8,173,0,10.8,1,17,0,0

In [8]:
tes = tes.groupby('NAME', sort = False).mean()

In [9]:
tes.drop(columns = ['RTG', 'GP'], axis = 1, inplace = True)

In [10]:
tes_stats = tes.copy()

In [11]:
tes_rank = {}

In [12]:
tes_rank['YDS_rank'] = tes['YDS'].rank(ascending = False)

In [13]:
tes_rank['TGT_rank'] = tes['TGT'].rank(ascending = False)

In [14]:
tes_rank['REC_rank'] = tes['REC'].rank(ascending = False)

In [15]:
tes_rank['TGT/G_rank'] = tes['TGT/G'].rank(ascending = False)

In [16]:
tes_rank['100+ YDS_rank'] = tes['100+ YDS'].rank(ascending = False)

In [17]:
tes_rank['YDS/REC_rank'] = tes['YDS/REC'].rank(ascending = False)

In [18]:
tes_rank['TD_rank'] = tes['TD'].rank(ascending = False)

In [19]:
tes_rank['LONG_rank'] = tes['LONG'].rank(ascending = False)

In [20]:
tes_rank['FUM_rank'] = tes['FUM'].rank()

In [21]:
tes_rank['FUML_rank'] = tes['FUML'].rank()

In [23]:
tes_rank['overall'] = (tes_rank['TGT_rank'] + tes_rank['REC_rank'] + tes_rank['TGT/G_rank'] + tes_rank['100+ YDS_rank'] +
            tes_rank['YDS/REC_rank'] + tes_rank['TD_rank'] + tes_rank['LONG_rank'] +
            tes_rank['FUM_rank'] + tes_rank['FUML_rank'] + tes_rank['YDS_rank'])/10

In [24]:
tes_rank = pd.DataFrame(tes_rank)

In [25]:
tes_final_rank = {}

In [26]:
tes_final_rank['final_rank'] = tes_rank['overall'].rank()

In [27]:
tes_final_rank = pd.DataFrame(tes_final_rank)

In [28]:
tes_final_rank = tes_final_rank.sort_values('final_rank')

In [29]:
tes_final_rank.to_csv('../Capstone_csv_file/tes_final_rank_19-20')

In [30]:
tes_final_rank

               final_rank
NAME
George Kittle         1.0
Austin Hooper         2.0
Jared Cook            3.0
Evan Engram           4.0
Travis Kelce          5.0
...                   ...
Jeff Heuerman        60.0
Trey Burton          61.0
Derek Carrier        62.0
Geoff Swaim          63.0
Nick O'Leary         64.0

[64 rows x 1 columns]

In [31]:
tes = tes_stats.merge(tes_rank, on = 'NAME')

In [32]:
tes

,TGT,REC,TGT/G,YDS,100+ YDS,YDS/REC,TD,LONG,FUM,FUML,...,TGT_rank,REC_rank,TGT/G_rank,100+ YDS_rank,YDS/REC_rank,TD_rank,LONG_rank,FUM_rank,FUML_rank,overall
NAME,,,,,,,,,,,,,,,,,,,,,
Jacob Hollister,59,41,5.4,349,0,8.5,3,22,0,0,...,19.5,17.0,13.0,39.5,54.5,25.5,56.5,21.5,27.0,30.25
Benjamin Watson,24,17,2.4,173,0,10.2,0,26,0,0,...,50.0,45.5,46.0,39.5,37.5,61.5,44.5,21.5,27.0,42.05
Travis Kelce,136,97,8.5,1229,2,12.7,5,47,1,1,...,1.0,1.0,2.5,6.0,10.5,10.0,15.5,52.0,58.5,15.80
Delanie Walker,31,21,4.4,215,0,10.2,2,29,1,0,...,40.5,41.5,23.0,39.5,37.5,38.5,39.0,52.0,27.0,38.15
George Kittle,107,85,7.6,1053,3,12.4,5,61,1,0,...,4.0,4.0,4.0,3.0,13.0,10.0,5.0,52.0,27.0,12.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Anthony Firkser,24,14,1.6,204,0,14.6,1,39,0,0,...,50.0,56.0,55.5,39.5,3.0,51.5,20.5,21.5,27.0,36.85
Darren Waller,117,90,7.3,1146,5,12.7,3,75,1,1,...,3.0,2.0,6.0,1.0,10.5,25.5,2.0,52.0,58.5,16.25
Matt LaCosse,19,13,1.7,131,0,10.1,1,24,0,0,...,59.5,60.5,52.5,39.5,39.5,51.5,49.5,21.5,27.0,45.80
Ross Dwelley,22,15,1.4,91,0,6.1,2,25,0,0,...,53.0,51.5,60.0,39.5,62.0,38.5,47.0,21.5,27.0,46.20
Logan Thomas,28,16,1.8,173,0,10.8,1,17,0,0,...,42.5,48.0,50.5,39.5,29.0,51.5,62.0,21.5,27.0,41.90

In [33]:
tes.to_csv('../Capstone_csv_file/tes_stats_rank_19-20')