# QBS Salary Stats Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_18-19')

In [3]:
qbs = pd.read_csv('../Capstone_csv_file/qbs_stats_rank_18-19')

qbs.set_index('NAME', inplace = True)

qbs_final_salary = qbs.merge(salary, on = 'NAME')

qbs_final_salary.set_index('NAME', inplace = True)

In [4]:
qbs_final_salary.head()

,COMP,ATT,ATT/G,YDS,300+ YDS,COMP%,YDS/ATT,YDS/COMP,TD,INT,...,YDS/ATT_rank,YDS/COMP_rank,TD_rank,INT_rank,QBR_rank,LONG_rank,SACKS_rank,SACK YDS_rank,FUML_rank,salary
NAME,,,,,,,,,,,,,,,,,,,,,
Josh Johnson,52,91,22.8,590,0,57.1,6.5,11.3,3,4,...,42.0,22.5,42.0,18.0,29.0,9.0,14.0,15.0,8.5,915000
Jameis Winston,244,378,34.4,2992,5,64.6,7.9,12.3,19,14,...,13.0,10.5,21.5,50.0,25.0,31.5,35.0,31.5,40.0,6337819
Derek Anderson,42,70,35.0,465,0,60.0,6.6,11.1,0,4,...,39.0,28.5,54.0,18.0,52.0,47.0,6.5,5.5,31.0,1073530
Carson Wentz,279,401,36.5,3074,5,69.6,7.7,11.0,21,7,...,14.5,31.0,18.5,27.0,27.0,35.5,39.5,37.0,52.5,6669085
Mark Sanchez,19,35,17.5,138,0,54.3,3.9,7.3,0,3,...,54.0,54.0,54.0,12.0,53.0,54.0,11.0,13.0,8.5,915000

In [5]:
qbs_final_salary.to_csv('../Capstone_csv_file/qbs_stats_salary_18-19')