# RBS Salary Long Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_19-20')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/rbs_stats_rank_19-20')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

,ATT,YDS,YDS/ATT,ATT/G,100+ YDS,TD,LONG,FUM,FUML,YDS_rank,ATT_rank,YDS/ATT_rank,ATT/G_rank,100+ YDS_rank,TD_rank,LONG_rank,FUM_rank,FUML_rank,salary
NAME,,,,,,,,,,,,,,,,,,,
Trey Edmunds,22,92,4.2,2.0,0,0,45,0,0,89.0,90.5,47.0,93.5,68.5,86.0,26.5,18.0,22.5,690000
Tra Carson,18,48,2.7,6.0,0,0,12,0,0,97.0,93.5,94.0,54.0,68.5,86.0,92.0,18.0,22.5,685000
Ezekiel Elliott,301,1357,4.5,18.8,7,12,33,3,2,4.0,2.0,33.5,2.0,1.5,5.5,45.5,84.5,86.5,15000000
Todd Gurley,217,835,3.8,15.5,0,12,25,3,2,19.0,17.5,65.5,13.0,68.5,5.5,60.0,84.5,86.5,14375000
Saquon Barkley,217,1003,4.6,16.7,4,6,68,1,0,14.0,17.5,28.5,11.0,9.5,20.0,9.0,52.0,22.5,7798688

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/rbs_stats_salary_19-20')