# Quarterback Comp Rank

In [2]:
import pandas as pd

In [27]:
qbs = pd.read_csv('../Capstone_csv_file/qbs_stats_rank_19-20')

In [28]:
qbs.head()

,Unnamed: 0,NAME,COMP,ATT,ATT/G,YDS,300+ YDS,COMP%,YDS/ATT,YDS/COMP,...,COMP%_rank,YDS/ATT_rank,YDS/COMP_rank,TD_rank,INT_rank,QBR_rank,LONG_rank,SACKS_rank,SACK YDS_rank,FUML_rank
0,0,Luke Falk,47,73,24.3,416,0,64.4%,5.7,8.9,...,21.5,49.5,53.0,53.0,15.0,32.0,50.0,32.5,36.0,19.0
1,1,Brandon Allen,39,84,28.0,515,0,46.4%,6.1,13.2,...,56.0,46.0,5.0,44.5,10.0,47.0,14.0,42.0,43.0,7.5
2,2,Drew Lock,100,156,31.2,"1,020",1,64.1%,6.5,10.2,...,24.0,40.5,46.0,34.0,15.0,9.0,40.0,50.5,52.0,19.0
3,4,Devlin Hodges,100,160,20.0,"1,063",0,62.5%,6.6,10.6,...,28.5,37.0,41.0,38.0,38.0,36.0,9.0,35.0,34.0,19.0
4,5,Patrick Mahomes,319,484,34.6,"4,031",7,65.9%,8.3,12.6,...,14.0,5.0,7.5,10.0,25.0,12.0,7.5,31.0,31.0,29.0

In [11]:
qbs.rename(columns=lambda x: x.strip(), inplace = True)

In [12]:
qbs = qbs[['NAME', 'COMP']].copy()

In [13]:
qbs['COMP_rank'] = qbs['COMP'].rank(ascending = False)

In [22]:
qbs = qbs.groupby('NAME', sort = False).mean()

In [24]:
qbs = pd.DataFrame(qbs)

In [25]:
qbs = qbs.sort_values('COMP_rank')

In [26]:
qbs

                 COMP  COMP_rank
NAME
Matt Ryan         408        1.0
Philip Rivers     390        2.0
Carson Wentz      388        3.5
Dak Prescott      388        3.5
Jameis Winston    380        5.0
...               ...        ...
Garrett Gilbert     0       71.0
Cooper Rush         0       71.0
David Fales         0       71.0
Nick Mullens        0       71.0
Trace McSorley      0       71.0

[73 rows x 2 columns]

In [ ]:
qbs.to_csv('../Capstone_csv_file/qbs_comp_rank_19-20')