# WRS Salary Stats Rank

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('../Capstone_csv_file/salary_edited_to_fit_18-19')

In [3]:
rbs = pd.read_csv('../Capstone_csv_file/wrs_stats_rank_18-19')

rbs.set_index('NAME', inplace = True)

rbs_final_salary = rbs.merge(salary, on = 'NAME')

rbs_final_salary.set_index('NAME', inplace = True)

In [4]:
rbs_final_salary.head()

,TGT,REC,TGT/G,YDS,100+ YDS,YDS/REC,TD,LONG,FUM,FUML,...,REC_rank,TGT/G_rank,100+ YDS_rank,YDS/REC_rank,TD_rank,LONG_rank,FUM_rank,FUML_rank,overall,salary
NAME,,,,,,,,,,,,,,,,,,,,,
Curtis Samuel,65,39,5.0,494,0,12.7,5,53,1,1,...,64.5,68.0,106.5,70.5,39.5,55.0,95.5,122.0,75.55,1613421
Will Fuller,45,32,6.4,503,3,15.7,4,73,0,0,...,81.0,35.5,20.0,18.0,57.5,21.0,38.5,54.0,48.45,2541078
Alshon Jeffery,92,65,7.1,843,2,13.0,6,52,1,0,...,30.0,24.5,32.0,62.5,25.0,57.0,95.5,54.0,44.40,13000000
Martavis Bryant,27,19,3.4,266,0,14.0,0,47,1,1,...,115.5,100.0,106.5,44.0,139.5,72.0,95.5,122.0,102.65,1907000
Julian Edelman,108,74,9.0,850,2,11.5,6,36,1,0,...,20.5,11.0,32.0,98.0,25.0,101.0,95.5,54.0,48.25,5500000

In [5]:
rbs_final_salary.to_csv('../Capstone_csv_file/wrs_stats_salary_18-19')