# EDA of Defensive Statistics

In [1]:
import pandas as pd

In [2]:
defs = pd.read_csv('../Capstone_Scrapping/Capstone_text_files/defense_17-18.txt')

In [3]:
defs.head()

,NAME,RTG,TEAM,GP,TCKL,SOLO,AST,TFL,SCK,SCK YDS,QBH,PASS DEF,FF,FUMR,FUMR YDS,FUMR TD,INT,INT YDS,INT TD
0,Blake Martinez,76,GB,16,145,96,49,11.5,1.0,0,2,8,1,2,0,0,1,3,0
1,Preston Brown,76,BUF,16,144,84,60,7.5,0.0,0,2,3,0,0,0,0,0,0,0
2,Joe Schobert,78,CLE,16,141,85,56,6.5,3.0,0,7,3,2,0,0,0,1,8,0
3,Christian Kirksey,73,CLE,16,139,87,52,9.5,3.5,0,6,5,2,1,0,0,0,0,0
4,Deion Jones,88,ATL,16,138,91,47,11.5,1.0,0,0,10,1,0,0,0,3,42,0

In [24]:
defs.rename(columns=lambda x: x.strip(), inplace = True)

In [4]:
defs_1 = defs.drop(['RTG', 'TEAM', 'GP'], axis = 1)

In [5]:
defs_1.head()

,NAME,TCKL,SOLO,AST,TFL,SCK,SCK YDS,QBH,PASS DEF,FF,FUMR,FUMR YDS,FUMR TD,INT,INT YDS,INT TD
0,Blake Martinez,145,96,49,11.5,1.0,0,2,8,1,2,0,0,1,3,0
1,Preston Brown,144,84,60,7.5,0.0,0,2,3,0,0,0,0,0,0,0
2,Joe Schobert,141,85,56,6.5,3.0,0,7,3,2,0,0,0,1,8,0
3,Christian Kirksey,139,87,52,9.5,3.5,0,6,5,2,1,0,0,0,0,0
4,Deion Jones,138,91,47,11.5,1.0,0,0,10,1,0,0,0,3,42,0

In [6]:
defs_1['TCKL_rank'] = defs_1['TCKL'].rank(ascending = False)

In [7]:
defs_1['SOLO_rank'] = defs_1['SOLO'].rank(ascending = False)

In [8]:
defs_1['AST_rank'] = defs_1['AST'].rank(ascending = False)

In [9]:
defs_1['TFL_rank'] = defs_1['TFL'].rank(ascending = False)

In [10]:
defs_1['SCK_rank'] = defs_1['SCK'].rank(ascending = False)

In [11]:
defs_1['SCK YDS_rank'] = defs_1['SCK YDS'].rank(ascending = False)

In [12]:
defs_1['QBH_rank'] = defs_1['QBH'].rank(ascending = False)

In [13]:
defs_1['PASS DEF_rank'] = defs_1['PASS DEF'].rank(ascending = False)

In [14]:
defs_1['FF_rank'] = defs_1['FF'].rank(ascending = False)

In [15]:
defs_1['FUMR_rank'] = defs_1['FUMR'].rank(ascending = False)

In [16]:
defs_1['FUMR YDS_rank'] = defs_1['FUMR YDS'].rank(ascending = False)

In [17]:
defs_1['FUMR TD_rank'] = defs_1['FUMR TD'].rank(ascending = False)

In [18]:
defs_1['INT_rank'] = defs_1['INT'].rank(ascending = False)

In [19]:
defs_1['INT YDS_rank'] = defs_1['INT YDS'].rank(ascending = False)

In [20]:
defs_1['INT TD_rank'] = defs_1['INT TD'].rank(ascending = False)

In [21]:
defs_1

,NAME,TCKL,SOLO,AST,TFL,SCK,SCK YDS,QBH,PASS DEF,FF,...,SCK YDS_rank,QBH_rank,PASS DEF_rank,FF_rank,FUMR_rank,FUMR YDS_rank,FUMR TD_rank,INT_rank,INT YDS_rank,INT TD_rank
0,Blake Martinez,145,96,49,11.5,1.0,0,2,8,1,...,100.5,98.5,50.0,72.0,15.0,107.5,108.5,90.0,88.5,110.5
1,Preston Brown,144,84,60,7.5,0.0,0,2,3,0,...,100.5,98.5,138.0,153.0,139.0,107.5,108.5,158.0,147.0,110.5
2,Joe Schobert,141,85,56,6.5,3.0,0,7,3,2,...,100.5,31.0,138.0,24.5,139.0,107.5,108.5,90.0,80.5,110.5
3,Christian Kirksey,139,87,52,9.5,3.5,0,6,5,2,...,100.5,37.0,100.5,24.5,51.5,107.5,108.5,158.0,147.0,110.5
4,Deion Jones,138,91,47,11.5,1.0,0,0,10,1,...,100.5,173.5,31.5,72.0,139.0,107.5,108.5,26.0,33.0,110.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,Rodney McLeod,54,39,15,2.0,0.0,0,0,6,1,...,100.5,173.5,77.0,72.0,15.0,7.0,108.5,26.0,18.0,110.5
196,Ken Crawley,54,47,7,1.0,0.0,0,0,17,0,...,100.5,173.5,7.0,153.0,139.0,107.5,108.5,90.0,147.0,110.5
197,Mike Mitchell,54,36,18,1.0,0.0,0,1,2,0,...,100.5,132.0,161.0,153.0,51.5,107.5,108.5,158.0,147.0,110.5
198,AJ Klein,54,37,17,6.0,2.0,0,3,4,1,...,100.5,70.0,118.5,72.0,139.0,107.5,108.5,158.0,147.0,110.5
199,Jaquiski Tartt,54,37,17,4.0,0.5,0,2,3,0,...,100.5,98.5,138.0,153.0,139.0,107.5,108.5,90.0,39.0,110.5

In [22]:
defs_1_rank = defs_1.drop(['TCKL', 'SOLO', 'AST', 'TFL', 'SCK', 'SCK YDS', 
             'QBH', 'PASS DEF', 'FF', 'FUMR', 'FUMR YDS', 'FUMR TD',
             'INT', 'INT YDS', 'INT TD'], axis = 1)

In [23]:
defs_1_rank.head()

,NAME,TCKL_rank,SOLO_rank,AST_rank,TFL_rank,SCK_rank,SCK YDS_rank,QBH_rank,PASS DEF_rank,FF_rank,FUMR_rank,FUMR YDS_rank,FUMR TD_rank,INT_rank,INT YDS_rank,INT TD_rank
0,Blake Martinez,1.0,4.0,4.5,25.5,91.5,100.5,98.5,50.0,72.0,15.0,107.5,108.5,90.0,88.5,110.5
1,Preston Brown,2.0,10.0,1.0,53.0,159.5,100.5,98.5,138.0,153.0,139.0,107.5,108.5,158.0,147.0,110.5
2,Joe Schobert,3.0,8.0,2.0,68.0,33.0,100.5,31.0,138.0,24.5,139.0,107.5,108.5,90.0,80.5,110.5
3,Christian Kirksey,4.0,7.0,3.0,35.0,28.5,100.5,37.0,100.5,24.5,51.5,107.5,108.5,158.0,147.0,110.5
4,Deion Jones,5.0,6.0,7.5,25.5,91.5,100.5,173.5,31.5,72.0,139.0,107.5,108.5,26.0,33.0,110.5

In [25]:
defs_1_rank.columns

Index(['NAME', 'TCKL_rank', 'SOLO_rank', 'AST_rank', 'TFL_rank', 'SCK_rank',
       'SCK YDS_rank', 'QBH_rank', 'PASS DEF_rank', 'FF_rank', 'FUMR_rank',
       'FUMR YDS_rank', 'FUMR TD_rank', 'INT_rank', 'INT YDS_rank',
       'INT TD_rank'],
      dtype='object')

In [26]:
defs_1_rank_avg = defs_1_rank.groupby('NAME', sort = False).mean()

In [27]:
defs_1_rank_avg

,TCKL_rank,SOLO_rank,AST_rank,TFL_rank,SCK_rank,SCK YDS_rank,QBH_rank,PASS DEF_rank,FF_rank,FUMR_rank,FUMR YDS_rank,FUMR TD_rank,INT_rank,INT YDS_rank,INT TD_rank
NAME,,,,,,,,,,,,,,,
Blake Martinez,1.0,4.0,4.5,25.5,91.5,100.5,98.5,50.0,72.0,15.0,107.5,108.5,90.0,88.5,110.5
Preston Brown,2.0,10.0,1.0,53.0,159.5,100.5,98.5,138.0,153.0,139.0,107.5,108.5,158.0,147.0,110.5
Joe Schobert,3.0,8.0,2.0,68.0,33.0,100.5,31.0,138.0,24.5,139.0,107.5,108.5,90.0,80.5,110.5
Christian Kirksey,4.0,7.0,3.0,35.0,28.5,100.5,37.0,100.5,24.5,51.5,107.5,108.5,158.0,147.0,110.5
Deion Jones,5.0,6.0,7.5,25.5,91.5,100.5,173.5,31.5,72.0,139.0,107.5,108.5,26.0,33.0,110.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Rodney McLeod,194.5,184.0,132.5,162.5,159.5,100.5,173.5,77.0,72.0,15.0,7.0,108.5,26.0,18.0,110.5
Ken Crawley,194.5,150.5,191.0,182.5,159.5,100.5,173.5,7.0,153.0,139.0,107.5,108.5,90.0,147.0,110.5
Mike Mitchell,194.5,195.5,108.0,182.5,159.5,100.5,132.0,161.0,153.0,51.5,107.5,108.5,158.0,147.0,110.5
AJ Klein,194.5,193.0,116.0,77.0,48.5,100.5,70.0,118.5,72.0,139.0,107.5,108.5,158.0,147.0,110.5
Jaquiski Tartt,194.5,193.0,116.0,119.5,116.5,100.5,98.5,138.0,153.0,139.0,107.5,108.5,90.0,39.0,110.5

In [28]:
defs_1_rank_avg['overall'] = (defs_1_rank_avg['TCKL_rank'] + defs_1_rank_avg['SOLO_rank'] + defs_1_rank_avg['AST_rank'] + defs_1_rank_avg['TFL_rank'] +
defs_1_rank_avg['SCK_rank'] + defs_1_rank_avg['SCK YDS_rank'] + defs_1_rank_avg['QBH_rank'] + defs_1_rank_avg['PASS DEF_rank'] +
defs_1_rank_avg['FF_rank'] + defs_1_rank_avg['FUMR_rank'] + defs_1_rank_avg['FUMR YDS_rank'] + defs_1_rank_avg['FUMR TD_rank'] +
defs_1_rank_avg['INT_rank'] + defs_1_rank_avg['INT YDS_rank'] + defs_1_rank_avg['INT TD_rank']) / 15

In [29]:
defs_1_rank_avg

,TCKL_rank,SOLO_rank,AST_rank,TFL_rank,SCK_rank,SCK YDS_rank,QBH_rank,PASS DEF_rank,FF_rank,FUMR_rank,FUMR YDS_rank,FUMR TD_rank,INT_rank,INT YDS_rank,INT TD_rank,overall
NAME,,,,,,,,,,,,,,,,
Blake Martinez,1.0,4.0,4.5,25.5,91.5,100.5,98.5,50.0,72.0,15.0,107.5,108.5,90.0,88.5,110.5,64.500000
Preston Brown,2.0,10.0,1.0,53.0,159.5,100.5,98.5,138.0,153.0,139.0,107.5,108.5,158.0,147.0,110.5,99.066667
Joe Schobert,3.0,8.0,2.0,68.0,33.0,100.5,31.0,138.0,24.5,139.0,107.5,108.5,90.0,80.5,110.5,69.600000
Christian Kirksey,4.0,7.0,3.0,35.0,28.5,100.5,37.0,100.5,24.5,51.5,107.5,108.5,158.0,147.0,110.5,68.200000
Deion Jones,5.0,6.0,7.5,25.5,91.5,100.5,173.5,31.5,72.0,139.0,107.5,108.5,26.0,33.0,110.5,69.166667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Rodney McLeod,194.5,184.0,132.5,162.5,159.5,100.5,173.5,77.0,72.0,15.0,7.0,108.5,26.0,18.0,110.5,102.733333
Ken Crawley,194.5,150.5,191.0,182.5,159.5,100.5,173.5,7.0,153.0,139.0,107.5,108.5,90.0,147.0,110.5,134.300000
Mike Mitchell,194.5,195.5,108.0,182.5,159.5,100.5,132.0,161.0,153.0,51.5,107.5,108.5,158.0,147.0,110.5,137.966667
AJ Klein,194.5,193.0,116.0,77.0,48.5,100.5,70.0,118.5,72.0,139.0,107.5,108.5,158.0,147.0,110.5,117.366667
Jaquiski Tartt,194.5,193.0,116.0,119.5,116.5,100.5,98.5,138.0,153.0,139.0,107.5,108.5,90.0,39.0,110.5,121.600000

In [30]:
defs_overall_rank = {}

In [31]:
defs_overall_rank['overall'] = defs_1_rank_avg['overall']

In [32]:
defs_overall_rank = pd.DataFrame(defs_overall_rank)

In [33]:
defs_overall_rank['final_rank'] = defs_overall_rank['overall'].rank()

In [34]:
defs_final_overall_rank = defs_overall_rank['final_rank']

In [35]:
defs_final_overall_rank = pd.DataFrame(defs_final_overall_rank)

In [36]:
defs_final_overall_rank = defs_final_overall_rank.sort_values('final_rank')

In [37]:
defs_final_overall_rank

                  final_rank
NAME
CJ Mosley                1.0
Luke Kuechly             2.0
Telvin Smith             3.0
Bobby Wagner             4.0
Wesley Woodyard          5.0
...                      ...
Cory James             196.0
Jonathan Cyprien       197.0
Mike Mitchell          198.0
Ricardo Allen          199.0
Jabrill Peppers        200.0

[200 rows x 1 columns]

In [38]:
defs_final_overall_rank.to_csv('../Capstone_csv_file/defense_final_rank_17-18.csv', index = False)