# EDA of Defensive Statistics

In [1]:
import pandas as pd

In [9]:
defs = pd.read_csv('../Capstone_Scrapping/Capstone_text_files/defense.txt')

In [87]:
defs.head()

,NAME,RTG,TEAM,GP,TCKL,SOLO,AST,TFL,SCK,SCK YDS,QBH,PASS DEF,FF,FUMR,FUMR YDS,FUMR TD,INT,INT YDS,INT TD
0,Bobby Wagner,97.0,SEA,16,158,88,70,9.0,3.0,16.0,3,6,1,1,5,0,1,6,0
1,Blake Martinez,76.0,GB,16,154,97,57,6.5,3.0,20.0,3,2,1,0,0,0,1,22,0
2,Jordan Hicks,79.0,ARI,16,148,92,56,13.0,1.5,11.5,7,6,2,1,0,0,3,64,0
3,Budda Baker,78.0,ARI,16,148,105,43,8.5,0.5,4.0,3,6,2,1,0,0,0,0,0
4,Luke Kuechly,99.0,CAR,16,144,80,64,6.0,0.0,0.0,5,12,0,0,0,0,2,26,0

In [109]:
defs.rename(columns=lambda x: x.strip(), inplace = True)

In [88]:
defs_1 = defs.drop(['RTG', 'TEAM', 'GP'], axis = 1)

In [89]:
defs_1.head()

,NAME,TCKL,SOLO,AST,TFL,SCK,SCK YDS,QBH,PASS DEF,FF,FUMR,FUMR YDS,FUMR TD,INT,INT YDS,INT TD
0,Bobby Wagner,158,88,70,9.0,3.0,16.0,3,6,1,1,5,0,1,6,0
1,Blake Martinez,154,97,57,6.5,3.0,20.0,3,2,1,0,0,0,1,22,0
2,Jordan Hicks,148,92,56,13.0,1.5,11.5,7,6,2,1,0,0,3,64,0
3,Budda Baker,148,105,43,8.5,0.5,4.0,3,6,2,1,0,0,0,0,0
4,Luke Kuechly,144,80,64,6.0,0.0,0.0,5,12,0,0,0,0,2,26,0

In [90]:
defs_1['TCKL_rank'] = defs_1['TCKL'].rank(ascending = False)

In [92]:
defs_1['SOLO_rank'] = defs_1['SOLO'].rank(ascending = False)

In [93]:
defs_1['AST_rank'] = defs_1['AST'].rank(ascending = False)

In [94]:
defs_1['TFL_rank'] = defs_1['TFL'].rank(ascending = False)

In [95]:
defs_1['SCK_rank'] = defs_1['SCK'].rank(ascending = False)

In [96]:
defs_1['SCK YDS_rank'] = defs_1['SCK YDS'].rank(ascending = False)

In [97]:
defs_1['QBH_rank'] = defs_1['QBH'].rank(ascending = False)

In [98]:
defs_1['PASS DEF_rank'] = defs_1['PASS DEF'].rank(ascending = False)

In [99]:
defs_1['FF_rank'] = defs_1['FF'].rank(ascending = False)

In [100]:
defs_1['FUMR_rank'] = defs_1['FUMR'].rank(ascending = False)

In [101]:
defs_1['FUMR YDS_rank'] = defs_1['FUMR YDS'].rank(ascending = False)

In [102]:
defs_1['FUMR TD_rank'] = defs_1['FUMR TD'].rank(ascending = False)

In [103]:
defs_1['INT_rank'] = defs_1['INT'].rank(ascending = False)

In [104]:
defs_1['INT YDS_rank'] = defs_1['INT YDS'].rank(ascending = False)

In [105]:
defs_1['INT TD_rank'] = defs_1['INT TD'].rank(ascending = False)

In [106]:
defs_1

,NAME,TCKL,SOLO,AST,TFL,SCK,SCK YDS,QBH,PASS DEF,FF,...,SCK YDS_rank,QBH_rank,PASS DEF_rank,FF_rank,FUMR_rank,FUMR YDS_rank,FUMR TD_rank,INT_rank,INT YDS_rank,INT TD_rank
0,Bobby Wagner,158,88,70,9.0,3.0,16.0,3,6,1,...,56.0,86.0,81.5,78.0,56.5,33.5,109.0,91.0,81.0,110.0
1,Blake Martinez,154,97,57,6.5,3.0,20.0,3,2,1,...,45.0,86.0,149.5,78.0,144.0,120.0,109.0,91.0,51.5,110.0
2,Jordan Hicks,148,92,56,13.0,1.5,11.5,7,6,2,...,75.5,37.0,81.5,33.5,56.5,120.0,109.0,22.5,12.0,110.0
3,Budda Baker,148,105,43,8.5,0.5,4.0,3,6,2,...,100.5,86.0,81.5,33.5,56.5,120.0,109.0,162.0,148.0,110.0
4,Luke Kuechly,144,80,64,6.0,0.0,0.0,5,12,0,...,157.5,52.5,18.0,153.5,144.0,120.0,109.0,44.5,45.0,110.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,Matt Judon,52,41,11,17.0,8.5,89.5,31,0,3,...,5.0,4.0,192.5,10.5,144.0,120.0,109.0,162.0,148.0,110.0
196,Rayshawn Jenkins,54,34,20,1.0,0.0,0.0,0,4,0,...,157.5,176.0,117.0,153.5,144.0,120.0,109.0,22.5,75.0,110.0
197,Justin Coleman,54,47,7,0.0,0.0,0.0,1,13,3,...,157.5,134.5,13.5,10.5,56.5,120.0,109.0,91.0,16.5,110.0
198,Arik Armstead,54,32,22,13.5,10.0,72.0,18,2,2,...,10.0,12.0,149.5,33.5,56.5,120.0,109.0,162.0,148.0,110.0
199,Clayton Geathers,54,40,14,1.0,0.0,0.0,0,1,0,...,157.5,176.0,171.5,153.5,144.0,120.0,109.0,91.0,148.0,110.0

In [107]:
defs_1_rank = defs_1.drop(['TCKL', 'SOLO', 'AST', 'TFL', 'SCK', 'SCK YDS', 
             'QBH', 'PASS DEF', 'FF', 'FUMR', 'FUMR YDS', 'FUMR TD',
             'INT', 'INT YDS', 'INT TD'], axis = 1)

In [108]:
defs_1_rank.head()

,NAME,TCKL_rank,SOLO_rank,AST_rank,TFL_rank,SCK_rank,SCK YDS_rank,QBH_rank,PASS DEF_rank,FF_rank,FUMR_rank,FUMR YDS_rank,FUMR TD_rank,INT_rank,INT YDS_rank,INT TD_rank
0,Bobby Wagner,1.0,8.5,1.0,38.0,39.0,56.0,86.0,81.5,78.0,56.5,33.5,109.0,91.0,81.0,110.0
1,Blake Martinez,2.0,3.5,4.5,56.5,39.0,45.0,86.0,149.5,78.0,144.0,120.0,109.0,91.0,51.5,110.0
2,Jordan Hicks,3.5,5.0,6.0,17.5,77.0,75.5,37.0,81.5,33.5,56.5,120.0,109.0,22.5,12.0,110.0
3,Budda Baker,3.5,1.0,18.0,42.0,116.0,100.5,86.0,81.5,33.5,56.5,120.0,109.0,162.0,148.0,110.0
4,Luke Kuechly,5.0,16.0,2.0,67.0,159.5,157.5,52.5,18.0,153.5,144.0,120.0,109.0,44.5,45.0,110.0

In [110]:
defs_1_rank.columns

Index(['NAME', 'TCKL_rank', 'SOLO_rank', 'AST_rank', 'TFL_rank', 'SCK_rank',
       'SCK YDS_rank', 'QBH_rank', 'PASS DEF_rank', 'FF_rank', 'FUMR_rank',
       'FUMR YDS_rank', 'FUMR TD_rank', 'INT_rank', 'INT YDS_rank',
       'INT TD_rank'],
      dtype='object')

In [111]:
defs_1_rank_avg = defs_1_rank.groupby('NAME', sort = False).mean()

In [112]:
defs_1_rank_avg

,TCKL_rank,SOLO_rank,AST_rank,TFL_rank,SCK_rank,SCK YDS_rank,QBH_rank,PASS DEF_rank,FF_rank,FUMR_rank,FUMR YDS_rank,FUMR TD_rank,INT_rank,INT YDS_rank,INT TD_rank
NAME,,,,,,,,,,,,,,,
Bobby Wagner,1.0,8.5,1.0,38.0,39.0,56.0,86.0,81.5,78.0,56.5,33.5,109.0,91.0,81.0,110.0
Blake Martinez,2.0,3.5,4.5,56.5,39.0,45.0,86.0,149.5,78.0,144.0,120.0,109.0,91.0,51.5,110.0
Jordan Hicks,3.5,5.0,6.0,17.5,77.0,75.5,37.0,81.5,33.5,56.5,120.0,109.0,22.5,12.0,110.0
Budda Baker,3.5,1.0,18.0,42.0,116.0,100.5,86.0,81.5,33.5,56.5,120.0,109.0,162.0,148.0,110.0
Luke Kuechly,5.0,16.0,2.0,67.0,159.5,157.5,52.5,18.0,153.5,144.0,120.0,109.0,44.5,45.0,110.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Matt Judon,200.0,161.0,178.0,9.5,15.0,5.0,4.0,192.5,10.5,144.0,120.0,109.0,162.0,148.0,110.0
Rayshawn Jenkins,195.5,187.5,122.0,176.5,159.5,157.5,176.0,117.0,153.5,144.0,120.0,109.0,22.5,75.0,110.0
Justin Coleman,195.5,128.5,194.5,196.0,159.5,157.5,134.5,13.5,10.5,56.5,120.0,109.0,91.0,16.5,110.0
Arik Armstead,195.5,191.5,108.5,15.0,10.0,10.0,12.0,149.5,33.5,56.5,120.0,109.0,162.0,148.0,110.0
Clayton Geathers,195.5,165.0,157.5,176.5,159.5,157.5,176.0,171.5,153.5,144.0,120.0,109.0,91.0,148.0,110.0

In [113]:
defs_1_rank_avg['overall'] = (defs_1_rank_avg['TCKL_rank'] + defs_1_rank_avg['SOLO_rank'] + defs_1_rank_avg['AST_rank'] + defs_1_rank_avg['TFL_rank'] +
defs_1_rank_avg['SCK_rank'] + defs_1_rank_avg['SCK YDS_rank'] + defs_1_rank_avg['QBH_rank'] + defs_1_rank_avg['PASS DEF_rank'] +
defs_1_rank_avg['FF_rank'] + defs_1_rank_avg['FUMR_rank'] + defs_1_rank_avg['FUMR YDS_rank'] + defs_1_rank_avg['FUMR TD_rank'] +
defs_1_rank_avg['INT_rank'] + defs_1_rank_avg['INT YDS_rank'] + defs_1_rank_avg['INT TD_rank']) / 15

In [114]:
defs_1_rank_avg

,TCKL_rank,SOLO_rank,AST_rank,TFL_rank,SCK_rank,SCK YDS_rank,QBH_rank,PASS DEF_rank,FF_rank,FUMR_rank,FUMR YDS_rank,FUMR TD_rank,INT_rank,INT YDS_rank,INT TD_rank,overall
NAME,,,,,,,,,,,,,,,,
Bobby Wagner,1.0,8.5,1.0,38.0,39.0,56.0,86.0,81.5,78.0,56.5,33.5,109.0,91.0,81.0,110.0,58.000000
Blake Martinez,2.0,3.5,4.5,56.5,39.0,45.0,86.0,149.5,78.0,144.0,120.0,109.0,91.0,51.5,110.0,72.633333
Jordan Hicks,3.5,5.0,6.0,17.5,77.0,75.5,37.0,81.5,33.5,56.5,120.0,109.0,22.5,12.0,110.0,51.100000
Budda Baker,3.5,1.0,18.0,42.0,116.0,100.5,86.0,81.5,33.5,56.5,120.0,109.0,162.0,148.0,110.0,79.166667
Luke Kuechly,5.0,16.0,2.0,67.0,159.5,157.5,52.5,18.0,153.5,144.0,120.0,109.0,44.5,45.0,110.0,80.233333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Matt Judon,200.0,161.0,178.0,9.5,15.0,5.0,4.0,192.5,10.5,144.0,120.0,109.0,162.0,148.0,110.0,104.566667
Rayshawn Jenkins,195.5,187.5,122.0,176.5,159.5,157.5,176.0,117.0,153.5,144.0,120.0,109.0,22.5,75.0,110.0,135.033333
Justin Coleman,195.5,128.5,194.5,196.0,159.5,157.5,134.5,13.5,10.5,56.5,120.0,109.0,91.0,16.5,110.0,112.866667
Arik Armstead,195.5,191.5,108.5,15.0,10.0,10.0,12.0,149.5,33.5,56.5,120.0,109.0,162.0,148.0,110.0,95.400000
Clayton Geathers,195.5,165.0,157.5,176.5,159.5,157.5,176.0,171.5,153.5,144.0,120.0,109.0,91.0,148.0,110.0,148.966667

In [115]:
defs_overall_rank = {}

In [116]:
defs_overall_rank['overall'] = defs_1_rank_avg['overall']

In [117]:
defs_overall_rank = pd.DataFrame(defs_overall_rank)

In [118]:
defs_overall_rank['final_rank'] = defs_overall_rank['overall'].rank()

In [119]:
defs_final_overall_rank = defs_overall_rank['final_rank']

In [120]:
defs_final_overall_rank = pd.DataFrame(defs_final_overall_rank)

In [121]:
defs_final_overall_rank = defs_final_overall_rank.sort_values('final_rank')

In [122]:
defs_final_overall_rank

                  final_rank
NAME
Cory Littleton           1.0
Jamal Adams              2.0
Jamie Collins            3.0
Darius Leonard           4.0
Joe Schobert             5.0
...                      ...
Preston Brown          196.0
Foyesade Oluokun       197.0
Troy Reeder            198.0
Ben Niemann            199.0
Clayton Geathers       200.0

[200 rows x 1 columns]

In [123]:
defs_final_overall_rank.to_csv('../Capstone_csv_file/defense_final_rank_19-20.csv', index = False)