# Widereceivers TD Rank

In [1]:
import pandas as pd

In [2]:
wrs = pd.read_csv('../Capstone_csv_file/wrs_stats_rank_18-19', index_col = 'NAME')

In [3]:
wrs.head()

,TGT,REC,TGT/G,100+ YDS,YDS/REC,TD,LONG,FUM,FUML,TGT_rank,REC_rank,TGT/G_rank,100+ YDS_rank,YDS/REC_rank,TD_rank,LONG_rank,FUM_rank,FUML_rank,overall
NAME,,,,,,,,,,,,,,,,,,,
Curtis Samuel,65,39,5.0,0,12.7,5,53,1,1,65.5,64.5,68.0,106.5,70.5,39.5,55.0,95.5,122.0,76.333333
Keke Coutee,41,28,6.8,1,10.2,1,40,0,0,100.5,88.5,30.5,53.5,119.0,118.0,91.5,38.5,54.0,77.111111
Devante Parker,47,24,4.3,1,12.9,1,46,0,0,86.0,99.5,81.0,53.5,64.5,118.0,75.0,38.5,54.0,74.444444
Keith Kirkwood,21,13,2.6,0,16.1,2,42,0,0,138.0,134.5,120.0,106.5,15.0,90.0,85.5,38.5,54.0,86.888889
Michael Floyd,24,10,1.8,0,10.0,1,20,0,0,133.5,142.5,133.0,106.5,124.0,118.0,139.5,38.5,54.0,109.944444

In [4]:
wrs = wrs[['TD', 'TD_rank']]

In [5]:
wrs = wrs.sort_values('TD_rank')

In [6]:
wrs.head()

                 TD  TD_rank
NAME
Antonio Brown    15      1.0
Davante Adams    13      2.0
Tyreek Hill      12      3.0
DeAndre Hopkins  11      4.0
Mike Williams    10      6.0

In [7]:
wrs.to_csv('../Capstone_csv_file/wrs_td_rank_18-19')